@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --verde: #95ffc8;
    --violeta:#a410dc;
    --violeta2:#7f0da8;
    --violeta3:#660d86;
    --roboto: 'Roboto', sans-serif;
    --titulos:'Bebas Neue', cursive;
}

body{
    position: relative;
}

/*************************************************** ACA ARRANCA EL HEADER **************************************/
.arriba{
    top: 0;
}
header{
    position: sticky;
    background: linear-gradient(black 80%, var(--violeta2) 100%);
    top: 0px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    background-color: black;
    color: var(--verde);
    display: inline-flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Bebas Neue', cursive;
    z-index: 2;
}

    .logo{
        display: inline-flex;
        gap: 30px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: var(--verde);
        letter-spacing: 5px;
        font-weight: 900;
        line-height: 40px;
        color: white;
    }

    .logo > a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        transition: 1s;
    }
    .logo > a:hover{
        font-size: 32px;
        transition: 1s;
    }

.nav_conteinter{
    padding-left: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
/*************************************************** ACA ARRANCA EL NAVBAR **************************************/

.navbar{
    gap: 80px;
    font-size: 25px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;

}

.item{
    transition: 1.5s;
    color: var(--verde);
    text-decoration:none;
    color: white;
}

.item:hover{
    font-size: 35px;
    transition: 1.5s;
}

    
    .hamburguesa{
        display: none;
        position: relative;
    }

    .menu_hamburguesa_items{
        width: 85vw;
        height: 75vh;
        background-color: blue;
        position: absolute;
        top: 85;
        right: 0;
        background: #000 center/cover url("Fondo_registro2.jpg") no-repeat;
        border: solid white;
        box-shadow: 0px 0px 20px black;
        display: none;
        color: white;
        text-align: center;
        border-radius: 20px;
    }

    .navbar_burger{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #menu_hamburguesa{
        display: none;
    }

        .item_b{
            color: white;
            font-family: var(--titulos);
            
            text-decoration: none;
        }

    
        @media(max-width:1200px){

            
            .nav_conteinter{
                padding-left: 75%;
            }
            .hamburguesa{
                display: flex;
                font-size: 40px;
                color: white;
            }
            .navbar{
                display: none;
            }
            .register_lbl{
                display: none;
            }
            .login_lbl{
                display: none;
            }
            #menu_hamburguesa:checked ~ .menu_hamburguesa_items{
                display: flex;
                justify-content: space-around;
                flex-direction: column;    
            
            }
        
            .register_menu{
                display: none;
            }
                .register_menu:checked ~ .register_form{
                    display: block;

                }

        }

    /*************************************************** OPCIONES DE LOGUEO/REGISTRO **************************************/
    .logueo{
        padding-top: 10px;
    }

        .logueo_options{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            font-size: 20px;
            list-style: none;
            text-decoration: underline;
            color: white;
        }
/*************************************************** ACA ARRANCA EL REGISTRO **************************************/
.register{
    display: none;
    cursor: pointer;
}
    .register_form{
        position: fixed;
        width: 100vw;
        display: none;
        height: 100vh;
        background-color: rgba(83, 83, 94, 0.486);
        cursor: pointer;
    }
    .register:checked ~ .register_form{
        display: flex;
        cursor: default;
        top: 0px;
        right: -1px; 
        position: fixed;
    }
    .register_lbl{
        cursor: pointer;
    }
    .login_lbl{
        cursor: pointer;
    }


        .conteiner_formulario{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-left: 35vw;
            margin-right: 32.5vw;
        }
            .formulario{
                box-sizing: border-box;
                padding-left: 50px;
                padding-right: 50px;
                top: 70vh;
                width: 35vw;
                height: 80vh;
                background: #000 center/cover url("Fondo_registro2.jpg") no-repeat;
                box-shadow: 0px 0px 40px 40px black;
                border: #7f0da8;
                border-style:double;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                cursor: default;
            }

                .formulario > h2{
                    margin-bottom: 50px;
                    letter-spacing: 5px;
                }

                .texto{
                    width: 95%;
                }

                .genero_styleo{
                    display: inline-flex;
                    gap: 10px;
                }

/******************************************** X DE VOLVER AL INICIO  *****************************************/
                .form_reg_X{
                    color: white;
                    font-size: 60px;
                    position:absolute;
                    top: 10px;
                    right: 0;
                    cursor: pointer;
                }

                .conteiner_x{
                    width: 100%;
                    height: 1%;
                    position: relative;
                }

/*********************************************** BOTON DE SUBMIT ***************************************************/

                .cont_button_submit{
                    margin-top: 60px;
                    display: flex;
                    justify-content: center;
                }

                    .button_submit{
                        background-color: white;
                        color: black;
                        border: var(--verde) ;
                        font-size: 20px;
                        font-family: 'Bebas Neue', cursive;
                        padding-left: 5px;
                        padding-right: 5px;
                    }

/*************************************************** ACA ARRANCA EL LOGUEO **************************************/
.login{
    display: none;
}

    .login_form{
        position: fixed;
        width: 100vw;
        display: none;
        height: 100vh;
        background-color: rgba(83, 83, 94, 0.486);
        cursor: pointer;
        top: 1;
    }
    .login:checked ~ .login_form{
        display: flex;
        cursor: default;
        top: 0px;
        right: -1px; 
        position: fixed;
    }
    
        .conteiner_formulario_login{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-left: 35vw;
            margin-right: 32.5vw;
        }

            .formulario_login{
                box-sizing: border-box;
                padding-left: 50px;
                padding-right: 50px;
                top: 70vh;
                width: 35vw;
                height: 50vh;
                background: #000 center/cover url("Fondo_registro2.jpg") no-repeat;
                box-shadow: 0px 0px 40px 40px black;
                border: #7f0da8;
                border-style:double;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                cursor: default;
            }

            .formulario_login > h2{
                margin-bottom: 25px;
                letter-spacing: 5px;
                
            }
            
            .cont_button_submit_login{       
                margin-top: 20px;
                display: flex;
                justify-content: center;
            }
            
/*************************************************** ACA TERMINA EL LOGUEO **************************************/
            
.fondo{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    background: linear-gradient(90deg, var(--violeta3) 0%, black 25%,black 75%, var(--violeta3) 100%);   
}

.conteiner_sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .section1{
        font-family: var(--roboto);
        margin-top: 50px;
        width: 75vw;
        background-color: black;
        border:solid var(--verde);
        box-shadow: 0px 0px 50px var(--verde);
        color: white;
        padding: 35px;
        display: flex;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
        }

        .parte1_section1{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            text-align: center;
            min-width: 200px;
        }

        .parte1_section1 > h1{
            text-align: center;
            background-color: var(--violeta3);
            padding: 5px;
            border-radius: 40px;
            font-family: var(--titulos);
            letter-spacing: 4px;
            box-shadow: 0px 0px 20px white;
        }

        @media (max-width: 1200px){
            .parte1_section1{
                gap: 9px;
                margin-bottom: 10px;
            }

        }
            
        


        .part2_section1{
            width: 50%;
            min-width: 300px;
            display: flex;
            justify-content: center;
        } 

            .img_section1{
                margin-left: 10px;
                width: 95%;
                border-radius: 40px;
                box-shadow: 0px 0px 20px var(--verde);

            }

    /******************************* ACA TERMINA LA SECTION 1 *********************************/
.fantasma_producto{
    margin-bottom: 80px;
    position: absolute;
    bottom: -30px;
}

.section2{
    margin-bottom: 30px;
    position: relative;
}

.titulo_section2{
    font-family: var(--roboto);
    margin-top: 80px;
    margin-bottom: 50px;
    width: 75vw;
    height: 10px;
    background-color: black;
    border:solid var(--verde);
    box-shadow: 0px 0px 50px var(--verde);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .section2_p1{
        padding-top: 15px;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media (max-width: 1200px){
        .section2_p1{
            gap: 10px;
            margin-bottom: 0px;
        }
    }

    .conteiner_slides{
        font-family: var(--roboto);
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 45px;
    }

    .slide_ropa{
        font-family: var(--titulos);
        box-shadow: 0px 0px 15px white;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        font-size: 20px;
        background-color: #000;
        background: #000 center/cover url("Fondosection2.jpg") no-repeat;
        text-shadow: 0px 0px 40px  black;
        margin-bottom: 30px;
    }

        .slide_ropa > button{
            background-color: var(--violeta3);
            font-family: var(--Roboto);
            padding:5px;
            cursor: pointer;
            color: white;
            text-shadow: 0px 0px 15px  black;
            box-shadow: 0px 0px 10px white;
        }


        .imagen_ropa{
            box-shadow: 0px 0px 5px white;
            max-width: 300px;
            max-height: 350px;
            border-radius: 20px;
        }

/*************************************** ACA TERMINA LA SECTION 2 *********************************************/

.fantasma_clientes{
    margin-bottom: 80px;
    position: absolute;
    bottom: -40px;
}

.section3{
    position: relative;
    background-color: black;
    border:solid var(--verde);
    box-shadow: 0px 0px 50px var(--verde);
    color: white;
    width: 75vw;
    margin-top: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
    font-family: var(--roboto);
    letter-spacing: 2px;
    text-align: center;
}

    .titulo_clientes{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clientes{
        display: inline-flex;
        justify-content: center;
        gap: 35px;
        flex-wrap: wrap;

    }

    .logo_clientes{
        border-radius: 50%;
        max-width: 100px;
        box-shadow: 0px 0px 15px white;
    }


/*************************************** ACA TERMINA LA SECTION 3 *********************************************/

.fantasma_contactos{
    margin-bottom: 80px;
    position: absolute;
    bottom: -40px;
}

.section4{
    font-family: var(--roboto);
    margin-top: 110px;
    width: 75vw;
    background-color: black;
    border:solid var(--verde);
    box-shadow: 0px 0px 25px var(--verde);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

    @media (max-width:1200px){
        .section4{
            padding: 25px;
            gap: 30px;
            text-align: center;
        }

        .local{
            width: 100%;
            box-shadow: 0px 0px 15px white;
            border-radius: 20px;
            min-width: 200px;
        }

        .section4_p2{
            width: 100%;
        }

        .conteiner_datos_contacto{
            width: 100%;
        }
    }

    .section4_p2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 70px;
        align-items: center;
        box-shadow: 0px 0px 15px var(--violeta);
        height: 100%;
        padding: 20px;
        border-radius: 40px;
        background: #000 center/cover url("fondo_comun2.jpg") no-repeat;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .titulo_contacto{
        font-family: var(--titulos);
        letter-spacing: 3px;
        background-color: black;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 40px;
        box-shadow: 0px 0px 10px white;
    }

        .conteiner_datos_contacto{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: black;
            border-radius: 20px;
            box-shadow: 0px 0px 10px white;
            padding: 10px;
        }

            .datos_contacto{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 40px;
                font-weight: 500;
                
            }

                .dato{
                    font-family: var(--titulos);
                }

            .local{
                max-width: 400px;
                box-shadow: 0px 0px 15px white;
                border-radius: 20px;
                min-width: 200px;
            }

            .logo_contactos{
                border-radius: 50%;
                width: 50px;
                box-shadow: 0px 0px 20px black;
            }


    /*************************************** ACA TERMINA LA SECTION 4 *********************************************/

footer{
    width: 100%;
    margin-top: 80px;
    background: linear-gradient(var(--violeta2) 0%, black 10%);
    padding: 25px;
    padding-top: 30px;
    color: white;
    font-family: var(--roboto);
}

    .conteiner_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

        .logo_footer{
            border-radius: 50%;
            max-width: 150px;
        }

        .Raving_seguinos{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 30%;
        }

        .redes_footer{
            color: white;
        }
 

            .titulo_footer{
                font-family: var(--titulos);
                color: var(--verde);
                font-size: 25px;
            }

            .logos_seguinos{
                display: flex;
                justify-content: left;
                gap: 20px;
                font-size: 20px;
            }


                .item_footer{
                    cursor: pointer;
                }

                .lista_footer{
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
                }

                .asistencia{
                    height: 100%;
                    top: 0%;
                }

                .linea{
                    height: 1px;
                    width: 100%;
                    background-color: white;
                }


    @media (max-width:1200px){
        .logo_footer{
            width: 80%;
        }
        .conteiner_footer{
            gap: 5px;
        }
    }
    @media (max-width:600px){
        .lista_footer{
            list-style: none;
        }
    }
/***************************** ACA ARRANCA PARTE DE RESPONSIVE  ********************************/

